*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    color: white;
}

main{
    height: calc(100vh - 100px);
    display: flex;
}

header{
    position: sticky;
    top: 0;
    height: 100px;
    background-color: #080B12;
}

footer{
    height: 100px;
    background-color: #222222;
    padding: 20px 15px;
}

.sidebar{
    width: 250px;
    height: 100%;
    background-color: black;
}

.content{
    width: calc(100% - 250px);
    background-color: #141922;
    overflow-y: auto;
}


a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
}

/* Utilities */

.d-flex{
    display: flex;
}

.direction-column{
    flex-direction: column;
}

.align-center{
    align-items: center;
    align-content: center;
}

.justify-space-between{
    justify-content: space-between;
}

.justify-end{
    justify-content: flex-end;
}

.justify-around{
    justify-content: space-around;
}

.justify-center{
    justify-content: center;
}

.flex-wrap{
    flex-wrap: wrap;
}

.bold{
    font-weight: bold;
}

/* .no-mobile{
    display: none;
} */

/* Menu */

.menu ul{
    max-width: 900px;
}
.menu ul li{
    margin: 20px 20px;
}

/* Utilities----------END */

.button-upgrade{
    display: inline-block;
    padding: 10px 25px;
    border: 2px solid white;
    border-radius: 20px;
}

/* Sidebar */

.head-sidebar{
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 640px;
}

#hidden-logo{
    display: none;
}

#logo , #hidden-logo{
    height: 100px;
    padding: 20px;
}

#logo img, #hidden-logo img{
    height: 100%;
}

#firstlist-sidebar{
    padding: 20px;
}

#firstlist-sidebar li a{
    display: flex;
    align-items: center;
    align-content: center;
}

#firstlist-sidebar > li > a > div{
    display: inline-block;
    height: 25px;
}

#firstlist-sidebar > li > a > div img{
    height: 100%;
}

#playlist-section{
    padding: 20px;
}

#playlist-section a{
    display: flex;
    align-content: center;
    align-items: center;
}

.plus-simble{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.add-playlist{
    height: 30px;
    width: 30px;
    background-color: #A3A3A3;
    position: relative;
    display: inline-block;
}

.down-sidebar{
    padding: 20px;
}

#download-section, #user-section{
    display: flex;
    height: 30px;
    align-items: center;
    align-content: center;
}

.download-img{
    height: 20px;
    margin-right: 10px;
}


.profile-icon{
    height: 30px;
    width: 30px;
    background-color: #A3A3A3;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    margin-right: 5px;
}

.profile-icon img{
    height: 100%;
    border-radius: 50%;
}

.download-img img{
    height: 100%
}
/* End Sidebar */

/* footer */

.footer-por{
    width: 250px;
}

.footer-play{
    width: calc(100% - 450px);
}

/* left side */

.ongoing-song{
    height: 60px;
    width: 60px;
}

.ongoing-song img{
    width: 100%;
}

.song-info{
    padding: 0 10px;
}

.song-favourite{
    width: 20%;
}

/* center */

.play-controls{
    width: 40%;
    min-width: 200px;
}

.play-progress{
    width: 100%;
    padding: 10 0px;
}

.time{
    width: 10%;
    min-width: 50px;
    text-align: center;
    font-size: 12px;
}

.progress-bar{
    background-color: #5A5A5A;
    height: 4px;
    width: 80%;
    border-radius: 2px;
}

.progress-bar-fill{
    width: 20%;
    background-color: #C1C1C1;
    border-radius: 2px;
}

/* right side */

.volume-bar{
    background-color: #5A5A5A;
    height: 4px;
    width: 50%;
    border-radius: 2px;
}

/* Color */


.grey-txt{
    color: #6C6F74;
}
